<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">{{slogan}}</h1>
            <hr>
            <p>{{lede}}</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Who We Are</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-heading text-white">Magic up close and personal.</h1>
                <hr class="light">
                <p class="text-faded">Founded in 2003, we are a non-political, non-hierarchy based group focused on developing and learning close-up magic and performance art. We believe that magic is for the entertainment of our SPECTATORS: our friends, families, and colleagues.</p>
                <a class="btn btn-default btn-xl js-scroll-trigger" routerLink="/members">Our Members List</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">What We Do</h2>
                <hr>
            </div>
        </div>
        <br/><br/>
        <div class="row text-center">
            <div class="col-md-3">
                <div class="info">
                    <ng4-fa name="birthday-cake" size="4x"></ng4-fa>
                    <br/>
                    <div class="description">
                        <h4 class="info-title">Projects and Events</h4>
                        <br/>
                        <p>Book us for your events! These often serve as our training ground for members, and direct our efforts in studying magic.</p>
                        <a href="/#social" class="btn btn-link">Contact Us</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-md-3">
                <div class="info">
                    <ng4-fa name="users" size="4x"></ng4-fa>
                    <br/>
                    <div class="description">
                        <h4 class="info-title">Weekly Gatherings</h4>
                        <br/>
                        <p class="description">Spend your time with us every Saturday! Meet our members, see what we've been working on, and enjoy our camaraderie!</p>
                        <a href="https://www.facebook.com/TheStoryCircle/" class="btn btn-link">Our Schedule</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-md-3">
                <div class="info">
                    <ng4-fa name="graduation-cap" size="4x"></ng4-fa>
                    <br/>
                    <div class="description">
                        <h4 class="info-title">Lectures and Workshops</h4>
                        <br/>
                        <p>We focus on improving our magic in various areas. Start with our Official Forum to learn more.</p>
                        <a href="http://thestorycircle.proboards.com/" class="btn btn-link">Our Forums</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-md-3">
                <div class="info">
                    <ng4-fa name="calendar" size="4x"></ng4-fa>
                    <br/>
                    <div class="description">
                        <h4 class="info-title">Public Shows</h4>
                        <br/><br/>
                        <p>We conduct monthly and yearly shows to entertain our fans and promote our group. Check our Social Media for new updates!</p>
                        <a href="/#events" class="btn btn-link">Upcoming Events</a>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>
<section class="p-0" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg">
            <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">
            <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg">
            <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg">
            <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg">
            <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg">
            <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
<section class="bg-secondary">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading">Social Media</h1>
        <hr>
        <p>Add section here for Socia Media posts (FB, Twitter, Instagram, YT)</p>
    </div>
</section>