<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">{{slogan}}</h1>
            <hr>
            <p>{{lede}}</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Who We Are</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-heading text-white">Magic up close and personal.</h1>
                <hr class="light">
                <p class="text-faded">Founded in 2003, we are a non-political, non-hierarchy based group focused on developing and learning close-up magic and performance art. We believe that magic is for the entertainment of our SPECTATORS: our friends, families, and colleagues.</p>
                <a class="btn btn-default btn-xl js-scroll-trigger" routerLink="/members">View Our Members List</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading">What We Do</h1>
        <hr>
        <p>Static text here.</p>
    </div>
</section>
<section class="bg-primary">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-white">Events</h1>
        <hr class="light">
        <p class="text-faded">Replace with dynamically-loading section for events</p>
    </div>
</section>
<section class="bg-secondary">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading">Social Media</h1>
        <hr>
        <p>Add section here for Socia Media posts (FB, Twitter, Instagram, YT)</p>
    </div>
</section>