<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">{{slogan}}</h1>
            <hr>
            <p>{{lede}}</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Who We Are</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="section-heading text-white">Magic up close and personal.</h1>
                <hr class="light">
                <p class="text-faded">Founded in 2003, we are a non-political, non-hierarchy based group focused on developing and learning close-up magic and performance art. We believe that magic is for the entertainment of our SPECTATORS: our friends, families, and colleagues.</p>
                <a class="btn btn-default btn-xl js-scroll-trigger" routerLink="/members">View Our Members List</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk product</h2>
                <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button
                    if you want the user to see more.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <ng4-fa name="lightbulb-o"></ng4-fa>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <ng4-fa name="line-chart"></ng4-fa>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-white">Events</h1>
        <hr class="light">
        <p class="text-faded">Replace with dynamically-loading section for events</p>
    </div>
</section>
<section class="bg-secondary">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading">Social Media</h1>
        <hr>
        <p>Add section here for Socia Media posts (FB, Twitter, Instagram, YT)</p>
    </div>
</section>