.member-card,
.honorary-card {
    box-shadow: 0 4px 8px 0 #36623A;
    margin: auto;
    margin-bottom: 1em;
    max-width: 400px;
}

.member-card img,
.honorary-card img {
    margin: 1em;
}

.member-card ng4-fa,
.honorary-card ng4-fa {
    padding: 0.2em;
    margin: 0.2em;
}

.honorary-card {
    box-shadow: 0 4px 8px 0 black !important;
    background-color: white;
}

@media screen and (min-width: 576px) {
    .member-card img,
    .honorary-card img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 768px) {
    .member-card img,
    .honorary-card img {
        width: 240px;
        height: 240px;
    }
}

@media screen and (min-width: 992px) {
    .member-card img,
    .honorary-card img {
        width: 180px;
        height: 180px;
    }
}