.row {
    width: 100%;
    margin: 0;
    display: block;
}

.members-grid {
    text-align: center;
    padding: 0.15em;
    width: 100%;
}

.members-grid li {
    list-style: none;
    padding: 0.30em;
    background-color: seagreen;
}

.members-grid li p,
.members-grid li h3 {
    display: block;
    text-align: center;
}

.members-grid img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.selected {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(75, 75, 75);
}


/*2 in a row*/

@media screen and (min-width: 600px) {
    .members-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .members-grid li {
        width: 50%;
    }
    .members-grid ls p {
        text-align: center;
    }
}


/*4 in a row*/

@media screen and (min-width: 800px) {
    .members-grid li {
        width: 25%;
        max-width: 450px;
    }
    .members-grid ls p {
        text-align: left;
    }
}


/*6 in a row*/


/*
@media screen and (min-width: 1200px) {
    .members-grid li {
        width: 16.66%;
    }
}*/